.logo {
  height: 50px;
}

.poster1_card{
   width: 150px;
   height: 200px;
   background-size: cover;
 }
.battleship_card{
  --background: url('/assets/images/Battleships-Movie-Poster1.jpg')
}
.alien_card{
  --background: url('/assets/images/alien.jpg')
}
.the_martian_card{
  --background: url('/assets/images/the martian.jpg')
}
.interstellar_card{
  --background: url('/assets/images/interstellar.png')
}
.Endgame_card {
  --background: url('/assets/images/81hkRNYQhNL._SY679_.jpg')
}
.jurassic_world_card {
  --background: url('/assets/images/71XhThQOV5L._SY741_.jpg')
}
.spider_man_card {
  --background: url('/assets/images/image1-1-1.jpeg')
}

.poster2_card {
  width: 150px;
  height: 200px;
  background-size: cover
}

.imssion_card{
  --background: url('/assets/images/71aqBa2ZQPL._SY606_.jpg')
}
.john_wick_card {
  --background: url('/assets/images/ejODG5DtqCVJm85XVt2BOxMrHxF.jpg')
}
.rambo_card {
  --background: url('/assets/images/9qllskzln7f31.jpg')
}
.deadpool_card {
   --background: url('/assets/images/87720650586935.58d40741ec1ef.jpg')
 }
.james_bond_card {
  --background: url('/assets/images/SKY_DIGI_ONLN_TSR_1SHT_1_0514_RGB_300_1.jpg')
}
.edge-of-tomorrow_card {
  --background: url('/assets/images/d9855da48014c166ba73213423eab185.jpg')
}
.poster3_card {
  width: 150px;
  height: 200px;
  background-size: cover
}
.Ready-Player-One_card{
  --background: url('/assets/images/Ready-Player-One-poster-600x890.jpg')
}
.dark-tower_card {
  --background: url('/assets/images/dark-tower.jpg')
}
.rampage_card {
  --background: url('/assets/images/rampage.jpg')
}
.valerian-city-thousand-planets_card {
  --background: url('/assets/images/valerian-city-thousand-planets.jpg')
}
.tomorrowland_card{
  --background: url('/assets/images/tomorrowland.jpg')
}
.passengers_card {
  --background: url('/assets/images/passengers.jpg')
}
.Jumanji-Welcome-to-the-Jungle-2017-Poster-jumanji_card {
  --background: url('/assets/images/Jumanji-Welcome-to-the-Jungle-2017-Poster-jumanji-40839985-2025-3000.jpg')
}
.independence-day-2_card {
  --background: url('/assets/images/independence-day-2.jpg')
}


